In [1]:
from ariaprots import parse_prescription, read_prescription

In [2]:
%cd ../..

/Users/cesar/Documents/Development/rtpros

In [3]:
pvdf, ccdf, oardf = parse_prescription('prescripciones/MamaDIBH.csv')

In [4]:
pvdf

                       Volume    Dose FxDose
0   PTV mama izqda  40.050 Gy  40.050  2.670
1  PTV boost izqdo  48.000 Gy  48.000  3.200

In [5]:
ccdf

            Volume Min Max         AtLeast           NoMore
0   PTV mama izqda          [95, 95, 45.6]  [5, 107, 51.36]
1  PTV boost izqdo          [95, 95, 45.6]  [5, 107, 51.36]

In [6]:
oardf

          Organ     Dmean     Dmax                            DosimPars
0  mama derecha             3.8 Gy                           [V 2.4$5%]
1   PULMON IZDO                     [V18$15%-20%, V8$35-40%, V4$50-55%]
2   PULMON DCHO                                             [V4$10-15%]
3       CORAZON    3.2 Gy                           [V8$30-35%, V20$5%]
4      tiroides   0.96 Gy                                            []
5        medula              40 Gy                           [V20$0.1%]